element.style {
}
@media (max-width: 600px)
#Logo {
    width: 100%;
    text-align: center;
    padding: 100px 0px 70px 0px;
    font-size: 26px;
    letter-spacing: 3px;
}
#Logo, #Logo h1, #Logo h1 a {
    background-color: #ffffff;
}
#Logo {
    width: 100%;
    text-align: center;
    padding: 300px 0px 300px 0px;
    font-size: 30px;
    letter-spacing: 3px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, table, th, td, a {
    margin: 0;
    padding: 0;
    zoom: 1;
    background-repeat: no-repeat;
}
user agent stylesheet
div {
    display: block;
}
body, a {
    line-height: 1;
    color: #231815;
}
body {
    width: 100%;
    font-size: 12px;
    font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
    word-wrap: break-word;
    letter-spacing: 1px;
}
