* {
  background-color: #171515;
  color: #ffffff;
}

body {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

header {
  height: 8rem;
}


.header-logo {
  float: left;
  padding: 0% 4% 0% 4%;
}

.header-list li {
  list-style: none;
  float: right;
  padding: 4% 4% 0% 4%;
}

main {
  padding: 0% 4% 0% 4%;
}


main h2 {
  border-bottom: solid 1px #CCC;
  padding-bottom: 1%;
}


main p {
  padding: 0% 4% 0% 4%;
}

main div {
  padding-bottom: 1%;
}

main a {
  text-decoration: none;
  color: #00aa6e;
}

main ul {
  padding: 0% 4% 0% 4%;
}

main li {
  padding: 1%;
}

.account {
  text-align: center;
}

.account img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.account ul {
  list-style-type: none;
  padding-left: 0;
}

.account li {
  display: inline;
}

.copylight {
  text-align: center;
  padding-bottom: 4%;
}

h4 {
  clear: both;
}
